html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {outline: none;}
textarea {resize: none;}
strong, b {font-weight: bold;}
a {cursor: pointer; text-decoration: none; outline: none; color: inherit;}
*, *:before, *:after {box-sizing: border-box;}

.fix {position: fixed;} .abs {position: absolute;} .rel {position: relative;} .clr{clear: both;} .fl {float: left;} .fr {float: right;} .o-hidden {overflow: hidden;} .three-dots {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.flex-center {display: flex; align-items: center; justify-content: center; width: 100%;}
.space-between {display: flex; justify-content: space-between; width: 100%;}
.space-between:not(.from-top) {align-items: center;}
.box-shadow-tile {box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); -moz-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);}
.box-shadow {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);}
.text-shadow-white {text-shadow: rgb(255 255 255 / 50%) 1px 1px 0;}
.text-shadow-black {text-shadow: rgb(0 0 0 / 50%) 1px 1px 0;}

.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

html, body {width: 100%; height: 100%; position: relative; overflow: hidden; display: block; font-size: 14px;}
button.no-style {outline: none; background: none; border: none; cursor: pointer; padding: 0;}

.btn {cursor: pointer; user-select: none;}
.img-bg {background-size: cover !important; background-position: center center !important;}
.obj-fit {object-fit: cover; width: 100%; height: 100%;}
.img {width: 100%; display: block;}

/*CUSTOM SCROLL*/
#AKBARS .custom-scroll::-webkit-scrollbar, .fields .field .bordered-t textarea::-webkit-scrollbar {height: 4px; width: 4px; background-color: #B7B3A6; border-radius: 0px;}
#AKBARS .custom-scroll::-webkit-scrollbar-thumb, .fields .field .bordered-t textarea::-webkit-scrollbar-thumb {border-radius: 0px; background-color: #4f4f4f;}
#AKBARS .custom-scroll::-webkit-scrollbar-track, .fields .field .bordered-t textarea::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); background-color: #B7B3A6; border-radius: 0px;}
#AKBARS .custom-scroll, #AKBARS .custom-scroll, .fields .field .bordered-t textarea {-webkit-overflow-scrolling: touch;}

@media (max-width: 4096px){
	.hide1400{display: block !important;} .show1400{display: none !important;}
	.hide1280{display: block !important;} .show1280{display: none !important;}
	.hide1200{display: block !important;} .show1200{display: none !important;}
	.hide1100{display: block !important;} .show1100{display: none !important;}
	.hide960{display: block !important;} .show960{display: none !important;}
	.hide800{display: block !important;} .show800{display: none !important;} .hide-link800{display: block !important;}
	.hide740{display: block !important;} .show740{display: none !important;}
	.hide700{display: block !important;} .show700{display: none !important;} .hide-link700{display: block !important;}
	.hide640{display: block !important;} .show640{display: none !important;}
	.hide500{display: block !important;} .show500{display: none !important;} .hide-link500{display: block !important;}
	.hide380{display: block !important;} .show380{display: none !important;} .hide-link380{display: block !important;}
}
@media (max-width: 1400px){
	.hide1400{display: none !important;} .show1400{display: block !important;}
}
@media (max-width: 1280px){
	.hide1280{display: none !important;} .show1280{display: block !important;}
}
@media (max-width: 1200px){
	.hide1200{display: none !important;} .show1200{display: block !important;}
}
@media (max-width: 1100px){
	.hide1100{display: none !important;} .show1100{display: block !important;}
}
@media (max-width: 960px){
	.hide960{display: none !important;} .show960{display: block !important;}
}
@media (max-width: 800px){
	.hide800{display: none !important;} .show800{display: block !important;} .hide-link800{display: none !important;}
}
@media (max-width: 740px){
	.hide740{display: none !important;} .show740{display: block !important;}
}
@media (max-width: 700px){
	.hide700{display: none !important;} .show700{display: block !important;} .hide-link700{display: none !important;}
}
@media (max-width: 640px){
	.hide640{display: none !important;} .show640{display: block !important;} .hide-link640{display: none !important;}
}
@media (max-width: 500px){
	.hide500{display: none !important;} .show500{display: block !important;} .hide-link500{display: none !important;}
}
@media (max-width: 380px){
	.hide380{display: none !important;} .show380{display: block !important;} .hide-link380{display: none !important;}
}